/* ========================================
   工具类input
   ======================================== */

@utility input-h-xs {
  height: theme(height.7);
}

@utility input-h-sm {
  height: theme(height.8);
}

@utility input-h-md {
  height: theme(height.9);
}

@utility input-h-lg {
  height: theme(height.10);
}

@utility input-h-xl {
  height: theme(height.12);
}

@utility input-p-xs {
  padding: theme(spacing.1);
}

@utility input-p-sm {
  padding: theme(spacing.2);
}

@utility input-p-md {
  padding: theme(spacing.3);
}

@utility input-p-lg {
  padding: theme(spacing.4);
}

@utility input-p-xl {
  padding: theme(spacing.5);
}
