@import 'tailwindcss';
@import 'tw-animate-css';

@import './base.css';
@import './theme.css';
/* @import "./theme-extra.css"; */

/* @import '@yuelioi/yami/index.css'; */

/* @reference "../../node_modules/@yuelioi/yami/src/components/actions/button.css"; 
/* @reference "../../node_modules/@yuelioi/yami/src/components/actions/dropdown.css";
@reference "../../node_modules/@yuelioi/yami/src/components/actions/modal.css";
@reference "../../node_modules/@yuelioi/yami/src/components/actions/swap.css";

@reference "../../node_modules/@yuelioi/yami/src/components/data/accordion.css";
@reference "../../node_modules/@yuelioi/yami/src/components/data/avatar.css";
@reference "../../node_modules/@yuelioi/yami/src/components/data/badge.css";
@reference "../../node_modules/@yuelioi/yami/src/components/data/card.css";
@reference "../../node_modules/@yuelioi/yami/src/components/data/carousel.css";
@reference "../../node_modules/@yuelioi/yami/src/components/data/collapse.css";
@reference "../../node_modules/@yuelioi/yami/src/components/data/kbd.css";
@reference "../../node_modules/@yuelioi/yami/src/components/data/list.css";
@reference "../../node_modules/@yuelioi/yami/src/components/data/stat.css";
@reference "../../node_modules/@yuelioi/yami/src/components/data/table.css";
@reference "../../node_modules/@yuelioi/yami/src/components/data/timeline.css";

@reference "../../node_modules/@yuelioi/yami/src/components/feedback/alert.css";
@reference "../../node_modules/@yuelioi/yami/src/components/feedback/progress.css";
@reference "../../node_modules/@yuelioi/yami/src/components/feedback/skeleton.css";
@reference "../../node_modules/@yuelioi/yami/src/components/feedback/toast.css";
@reference "../../node_modules/@yuelioi/yami/src/components/feedback/tooltip.css";

@reference "../../node_modules/@yuelioi/yami/src/components/form/calendar.css";
@reference "../../node_modules/@yuelioi/yami/src/components/form/checkbox.css";
@reference "../../node_modules/@yuelioi/yami/src/components/form/fieldset.css";
@reference "../../node_modules/@yuelioi/yami/src/components/form/file.css";
@reference "../../node_modules/@yuelioi/yami/src/components/form/filter.css";
@reference "../../node_modules/@yuelioi/yami/src/components/form/input.css";
@reference "../../node_modules/@yuelioi/yami/src/components/form/label.css";
@reference "../../node_modules/@yuelioi/yami/src/components/form/radio.css";
@reference "../../node_modules/@yuelioi/yami/src/components/form/rating.css";
@reference "../../node_modules/@yuelioi/yami/src/components/form/select.css";
@reference "../../node_modules/@yuelioi/yami/src/components/form/textarea.css";
@reference "../../node_modules/@yuelioi/yami/src/components/form/toggle.css";
@reference "../../node_modules/@yuelioi/yami/src/components/form/validator.css";

@reference "../../node_modules/@yuelioi/yami/src/components/layout/divider.css";
@reference "../../node_modules/@yuelioi/yami/src/components/layout/grid.css";
@reference "../../node_modules/@yuelioi/yami/src/components/layout/panel.css";

@reference "../../node_modules/@yuelioi/yami/src/components/navigation/breadcrumb.css";
@reference "../../node_modules/@yuelioi/yami/src/components/navigation/menu.css";
@reference "../../node_modules/@yuelioi/yami/src/components/navigation/navbar.css";
@reference "../../node_modules/@yuelioi/yami/src/components/navigation/pagination.css";
@reference "../../node_modules/@yuelioi/yami/src/components/navigation/tab.css"; */
