/*
name: swap
desc: 动画切换组件，用于图标、文本或元素的可视状态切换
usage: 适用于收藏、开关、加载等交互场景
syntax:
<label class="swap">
  <input type="checkbox" />
  <div class="swap-on">ON</div>
  <div class="swap-off">OFF</div>
</label>
- 支持 swap-active, swap-rotate, swap-flip 等变体
*/

/* === Swap / Toggle  === */
@utility swap {
  @apply relative inline-grid cursor-pointer place-content-center align-middle select-none;

  input {
    @apply appearance-none border-none;
  }

  > * {
    @apply col-start-1 row-start-1;
    @media (prefers-reduced-motion: no-preference) {
      transition-property: transform, rotate, opacity;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .swap-on,
  .swap-indeterminate,
  input:indeterminate ~ .swap-on {
    @apply opacity-0;
  }

  input:is(:checked, :indeterminate) {
    & ~ .swap-off {
      @apply opacity-0;
    }
  }

  input:checked ~ .swap-on,
  input:indeterminate ~ .swap-indeterminate {
    @apply opacity-100;
    backface-visibility: visible;
  }
}

/* === Swap Active Modifier === */
@utility swap-active {
  .swap-off {
    @apply opacity-0;
  }
  .swap-on {
    @apply opacity-100;
  }
}

/* === Swap Rotate Modifier === */
@utility swap-rotate {
  .swap-on,
  input:indeterminate ~ .swap-on {
    @apply rotate-45;
  }

  input:is(:checked, :indeterminate) ~ .swap-on,
  &.swap-active .swap-on {
    @apply rotate-0;
  }

  input:is(:checked, :indeterminate) ~ .swap-off,
  &.swap-active .swap-off {
    @apply -rotate-45;
  }
}

/* === Swap Flip Modifier === */
@utility swap-flip {
  transform-style: preserve-3d;
  perspective: 20rem;

  .swap-on,
  .swap-indeterminate,
  input:indeterminate ~ .swap-on {
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

  input:is(:checked, :indeterminate) ~ .swap-on,
  &.swap-active .swap-on {
    transform: rotateY(0deg);
  }

  input:is(:checked, :indeterminate) ~ .swap-off,
  &.swap-active .swap-off {
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    @apply opacity-100;
  }
}
