@import "./utilities/style.css";

/* ====================== actions ====================== */
@import "./components/actions/button.css";
@import "./components/actions/fab.css";
@import "./components/actions/dropdown.css";
@import "./components/actions/modal.css";
@import "./components/actions/swap.css";

/* ====================== data ====================== */
@import "./components/data/accordion.css";
@import "./components/data/avatar.css";
@import "./components/data/badge.css";
@import "./components/data/card.css";
@import "./components/data/carousel.css";
@import "./components/data/chat.css";
@import "./components/data/collapse.css";
@import "./components/data/kbd.css";
@import "./components/data/list.css";
@import "./components/data/stat.css";
@import "./components/data/table.css";
@import "./components/data/timeline.css";

/* ====================== feedback ====================== */
@import "./components/feedback/alert.css";
@import "./components/feedback/hover-card.css";
@import "./components/feedback/progress.css";
@import "./components/feedback/skeleton.css";
@import "./components/feedback/toast.css";
@import "./components/feedback/tooltip.css";

/* ====================== form ====================== */
@import "./components/form/calendar.css";
@import "./components/form/checkbox.css";
@import "./components/form/fieldset.css";
@import "./components/form/file.css";
@import "./components/form/filter.css";
@import "./components/form/input.css";
@import "./components/form/label.css";
@import "./components/form/number.css";
@import "./components/form/radio.css";
@import "./components/form/rating.css";
@import "./components/form/range.css";
@import "./components/form/select.css";
@import "./components/form/textarea.css";
@import "./components/form/toggle.css";
@import "./components/form/validator.css";

/* ====================== layout ====================== */
@import "./components/layout/divider.css";
@import "./components/layout/drawer.css";

/* ====================== navigation ====================== */
@import "./components/navigation/breadcrumb.css";
@import "./components/navigation/dock.css";
@import "./components/navigation/menu.css";
@import "./components/navigation/navbar.css";
@import "./components/navigation/pagination.css";
@import "./components/navigation/tab.css";
