/* ===================== Indicator ===================== */

@utility indicator {
  position: relative;
  display: inline-flex;
  width: fit-content;
}

/* ── 徽标本体 ── */
@utility indicator-item {
  --indicator-x: 0%;
  --indicator-y: 0%;
  --indicator-offset-x: 0px;
  --indicator-offset-y: 0px;

  position: absolute;
  z-index: 10;
  transform: translate(var(--indicator-x), var(--indicator-y))
    translate(var(--indicator-offset-x), var(--indicator-offset-y));

  /* 默认：右上角 */
  top: 0;
  right: 0;
  --indicator-x: 50%;
  --indicator-y: -50%;
}

/* ══════════════════════════════════════════
   水平位置
══════════════════════════════════════════ */

@utility indicator-start {
  & .indicator-item {
    right: auto;
    left: 0;
    --indicator-x: -50%;
  }
}

@utility indicator-center {
  & .indicator-item {
    right: auto;
    left: 50%;
    --indicator-x: -50%;
  }
}

@utility indicator-end {
  & .indicator-item {
    left: auto;
    right: 0;
    --indicator-x: 50%;
  }
}

/* ══════════════════════════════════════════
   垂直位置
══════════════════════════════════════════ */

@utility indicator-top {
  & .indicator-item {
    bottom: auto;
    top: 0;
    --indicator-y: -50%;
  }
}

@utility indicator-middle {
  & .indicator-item {
    top: 50%;
    bottom: auto;
    --indicator-y: -50%;
  }
}

@utility indicator-bottom {
  & .indicator-item {
    top: auto;
    bottom: 0;
    --indicator-y: 50%;
  }
}
