/* ===================== Radio ===================== */

@utility radio {
  @apply relative shrink-0 cursor-pointer appearance-none rounded-full p-1 align-middle;
  border: 1px solid color-mix(in oklab, var(--color-base-content) 40%, #0000);
  box-shadow: 0 1px oklch(0% 0 0 / 10%) inset;
  --size: calc(var(--size-selector, 0.25rem) * 6);
  width: var(--size);
  height: var(--size);
  color: var(--input-color, var(--color-neutral));

  &:before {
    @apply block size-full rounded-full;
    content: "";
  }

  &:focus-visible {
    outline: 2px solid
      color-mix(in oklab, var(--input-color, var(--color-neutral)) 30%, #0000);
    outline-offset: 0px;
  }

  &:checked,
  &[aria-checked="true"] {
    animation: radio 200ms ease-out;
    @apply bg-base-100 border-current;
    box-shadow: 0 1px 2px 0
      color-mix(in oklab, var(--color-base-300) 30%, #0000);

    &:before {
      @apply bg-current;
      box-shadow:
        0 -1px oklch(0% 0 0 / 10%) inset,
        0 8px 0 -4px oklch(100% 0 0 / 10%) inset,
        0 1px oklch(0% 0 0 / 10%);
    }

    @media (forced-colors: active) {
      &:before {
        @apply outline -outline-offset-1;
      }
    }

    @media print {
      &:before {
        outline: 0.25rem solid;
        outline-offset: -1rem;
      }
    }
  }

  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

/* Variant - Inset */

@utility radio-inset {
  &:checked,
  &[aria-checked="true"] {
    animation: radio-inset 200ms ease-out;
    @apply bg-current;
    box-shadow:
      0 6px 0 -4px oklch(100% 0 0 / 10%) inset,
      0 1px oklch(0% 0 0 / 10%),
      0 1px 2px 0 color-mix(in oklab, var(--color-base-content) 30%, #0000);

    &:before {
      @apply bg-base-100;
      box-shadow: none;
    }
  }
}

/* Color Variants */

@utility radio-primary {
  --input-color: var(--color-primary);
}

@utility radio-secondary {
  --input-color: var(--color-secondary);
}

@utility radio-accent {
  --input-color: var(--color-accent);
}

@utility radio-info {
  --input-color: var(--color-info);
}

@utility radio-success {
  --input-color: var(--color-success);
}

@utility radio-warning {
  --input-color: var(--color-warning);
}

@utility radio-error {
  --input-color: var(--color-error);
}

/* Size Variants */

@utility radio-xs {
  padding: 0.1875rem;

  &:is([type="radio"]) {
    --size: calc(var(--size-selector, 0.25rem) * 4);
  }
}

@utility radio-sm {
  padding: 0.1875rem;

  &:is([type="radio"]) {
    --size: calc(var(--size-selector, 0.25rem) * 5);
  }
}

@utility radio-md {
  padding: 0.25rem;

  &:is([type="radio"]) {
    --size: calc(var(--size-selector, 0.25rem) * 6);
  }
}

@utility radio-lg {
  padding: 0.3125rem;

  &:is([type="radio"]) {
    --size: calc(var(--size-selector, 0.25rem) * 7);
  }
}

@utility radio-xl {
  padding: 0.375rem;

  &:is([type="radio"]) {
    --size: calc(var(--size-selector, 0.25rem) * 8);
  }
}

/* Animations */

@keyframes radio {
  0% {
    padding: 5px;
  }

  50% {
    padding: 3px;
  }
}

@keyframes radio-inset {
  0% {
    padding: 1px;
  }

  50% {
    padding: 4px;
  }
}
