/* drawer 状态 */
@variant is-drawer-close (&:where(.drawer-toggle:not(:checked) ~ .drawer-side, .drawer-toggle:not(:checked) ~ .drawer-side *));
@variant is-drawer-open (&:where(.drawer-toggle:checked ~ .drawer-side, .drawer-toggle:checked ~ .drawer-side *));

/* Drawer 抽屉组件 */

@utility drawer {
  @apply relative grid w-full;
  grid-auto-columns: max-content auto;
}

/* Drawer Content 主内容区 */
@utility drawer-content {
  @apply col-start-2 row-start-1 min-w-0;
}

/* Drawer Side 侧边栏 */
@utility drawer-side {
  @apply pointer-events-none invisible fixed start-0 top-0 z-10;
  @apply col-start-1 row-start-1;
  @apply grid w-full grid-cols-1 grid-rows-1;
  @apply items-start justify-items-start;
  @apply overscroll-contain;

  @apply overflow-x-hidden overflow-y-hidden;
  @apply bg-transparent opacity-0;
  @apply transition-[opacity,visibility] duration-300 ease-out;
  height: 100vh;
  height: 100dvh;

  & > .drawer-overlay {
    @apply sticky top-0 cursor-pointer place-self-stretch;
    background-color: oklch(0% 0 0 / 40%);
  }

  & > * {
    @apply col-start-1 row-start-1;
  }

  & > *:not(.drawer-overlay) {
    @apply will-change-transform;
    @apply transition-[translate,width] duration-300 ease-out;
    translate: -100%;
  }

  [dir="rtl"] & > *:not(.drawer-overlay) {
    translate: 100%;
  }
}

/* Drawer Toggle 控制开关 */
@utility drawer-toggle {
  @apply fixed h-0 w-0 appearance-none opacity-0;

  /* 选中状态 */
  &:checked ~ .drawer-side {
    @apply pointer-events-auto visible opacity-100;
    @apply overflow-y-auto;
    scrollbar-color: color-mix(in oklch, currentColor 35%, transparent)
      oklch(0 0 0 / 40%);

    & > *:not(.drawer-overlay) {
      translate: 0%;
    }
  }

  /* Focus 状态 */
  /* &:focus-visible ~ .drawer-content label.drawer-button {
    @apply outline outline-2 outline-offset-2;
  } */

  /* 页面滚动控制 */
  &:checked {
    :root:has(&) {
      @apply overflow-hidden;
      scrollbar-gutter: stable;
    }
  }
}

/* Drawer End 右侧抽屉 */
@utility drawer-end {
  grid-auto-columns: auto max-content;

  & > .drawer-toggle {
    & ~ .drawer-content {
      @apply col-start-1;
    }

    & ~ .drawer-side {
      @apply col-start-2 justify-items-end;
    }

    & ~ .drawer-side > *:not(.drawer-overlay) {
      translate: 100%;
    }

    [dir="rtl"] & ~ .drawer-side > *:not(.drawer-overlay) {
      translate: -100%;
    }

    &:checked ~ .drawer-side > *:not(.drawer-overlay) {
      translate: 0%;
    }
  }
}

/* Drawer Open 始终打开状态 */
@utility drawer-open {
  & > .drawer-side {
    /* @apply overflow-y-auto; */
  }

  & > .drawer-toggle {
    @apply hidden;

    & ~ .drawer-side {
      @apply pointer-events-auto visible sticky block w-auto;
      @apply overscroll-auto opacity-100;

      & > .drawer-overlay {
        @apply cursor-default bg-transparent;
      }

      & > *:not(.drawer-overlay) {
        translate: 0%;
      }
    }

    &:checked ~ .drawer-side {
      @apply pointer-events-auto visible;
    }
  }

  /* 重置页面滚动控制 */
  & > .drawer-toggle:checked {
    :root:has(&) {
      @apply overflow-auto;
      scrollbar-gutter: auto;
    }
  }
}
