@import 'tailwindcss';
@import 'tw-animate-css';

@import './base.css';
@import './theme.css';
@import './theme-extra.css';

@reference '@yuelioi/yami/src/components/actions/button.css';
@reference '@yuelioi/yami/src/components/actions/dropdown.css';
@reference '@yuelioi/yami/src/components/actions/modal.css';
@reference '@yuelioi/yami/src/components/actions/swap.css';

@reference '@yuelioi/yami/src/components/data/accordion.css';
@reference '@yuelioi/yami/src/components/data/avatar.css';
@reference '@yuelioi/yami/src/components/data/badge.css';
@reference '@yuelioi/yami/src/components/data/card.css';
@reference '@yuelioi/yami/src/components/data/carousel.css';
@reference '@yuelioi/yami/src/components/data/collapse.css';
@reference '@yuelioi/yami/src/components/data/kbd.css';
@reference '@yuelioi/yami/src/components/data/list.css';
@reference '@yuelioi/yami/src/components/data/stat.css';
@reference '@yuelioi/yami/src/components/data/table.css';
@reference '@yuelioi/yami/src/components/data/timeline.css';

@reference '@yuelioi/yami/src/components/feedback/alert.css';
@reference '@yuelioi/yami/src/components/feedback/progress.css';
@reference '@yuelioi/yami/src/components/feedback/skeleton.css';
@reference '@yuelioi/yami/src/components/feedback/toast.css';
@reference '@yuelioi/yami/src/components/feedback/tooltip.css';

@reference '@yuelioi/yami/src/components/form/calendar.css';
@reference '@yuelioi/yami/src/components/form/checkbox.css';
@reference '@yuelioi/yami/src/components/form/fieldset.css';
@reference '@yuelioi/yami/src/components/form/file.css';
@reference '@yuelioi/yami/src/components/form/filter.css';
@reference '@yuelioi/yami/src/components/form/input.css';
@reference '@yuelioi/yami/src/components/form/label.css';
@reference '@yuelioi/yami/src/components/form/radio.css';
@reference '@yuelioi/yami/src/components/form/range.css';
@reference '@yuelioi/yami/src/components/form/rating.css';
@reference '@yuelioi/yami/src/components/form/select.css';
@reference '@yuelioi/yami/src/components/form/textarea.css';
@reference '@yuelioi/yami/src/components/form/toggle.css';
@reference '@yuelioi/yami/src/components/form/validator.css';

@reference '@yuelioi/yami/src/components/layout/divider.css';
@reference '@yuelioi/yami/src/components/layout/grid.css';
@reference '@yuelioi/yami/src/components/layout/panel.css';

@reference '@yuelioi/yami/src/components/navigation/breadcrumb.css';
@reference '@yuelioi/yami/src/components/navigation/menu.css';
@reference '@yuelioi/yami/src/components/navigation/navbar.css';
@reference '@yuelioi/yami/src/components/navigation/pagination.css';
@reference '@yuelioi/yami/src/components/navigation/tab.css';
